
module CoprManager 1.0;

require {
	type unconfined_t;
	type unconfined_service_t;
	class dir { add_name write };
}

#============= unconfined_service_t ==============
allow unconfined_service_t unconfined_t:dir { add_name write };
